.calendarContainer{
    display:flex;

   
}
.formBranch{
    display:flex;
    position: relative;
    padding-left: "100px";
}

.pending{
        background-color: #f4a261;
        border-radius: "100px" ;
      }

.fullfiled{
    background-color:#70e000
}
