.mapContainer{
    min-width: 17em;
    min-height: 17em;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 1px solid rgb(155, 154, 154);
    border-radius: 13px;
}

.listItem_{
    font-size: 1.2em;
    font-weight: 600;
}
.textContainer{
    border: 1px solid rgb(245, 240, 240);
    border-radius: 13px;
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1.5em;
}
.responsiveContainer{
    max-width: 45em;
    min-height: 75vh;
    margin: auto;
    margin-top: 4rem;
}
#mapa{
    min-width: 17em;
    height: 25em;
    margin:3px;

}

.img-fluid{
    margin-top: 6rem;
}
.appLogin{
    margin-top: 5rem;
    width: 100%;
}
#footer{
    margin-bottom: 0;
}
.bi{
    font-size: 1.6rem;
}
.userContainer{
    min-height: 80vh;
}
.verqueonda{
    display: flex;
    justify-content: space-between;
}
.ing{
    color: green;
}
.egr{
    color: red;
}

